﻿@page "/"
@using Rezi.Data
@using Rezi.Services
@using Microsoft.AspNetCore.WebUtilities
@using Microsoft.Extensions.Primitives

<div class="text-center">
    <a href="https://gitlab.com/JFronny/rezi" target="_blank" rel="noopener noreferrer">
        <h1 class="display-4" style="color: black;">
            Rezi<span class="oi oi-external-link" style="font-size: 20px;"></span>
        </h1>
    </a>
    <a class="btn btn-success" href="/new" role="button">Neu</a>
    <input type="text" class="form-control" placeholder="Suche" @bind=SearchFilter>
    @foreach (KeyValuePair<Guid, Ingredient> ingredient in DBs.Ingredients)
    {
        string id = "inlineCheckbox" + ingredient.Key.GetHashCode();
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="@id" checked=@(_ingredientFilter.Contains(ingredient.Key)) @onchange="@((ChangeEventArgs e) => Toggle(ingredient.Key, bool.Parse(e.Value.ToString())))">
            <label class="form-check-label" for="@id">@ingredient.Value.Name</label>
        </div>

    }
    <p>Wählen sie ein Rezept.</p>
    @foreach (KeyValuePair<Guid, Recipe> recipe in DBs.Recipes)
    {
        @if (_ingredientFilter.TrueForAll(s => recipe.Value.Ingredients.Any(v => v.Id == s)))
        {
            @if (string.IsNullOrWhiteSpace(_searchFilter) || recipe.Value.Name.Contains(_searchFilter))
            {
                <a class="btn btn-primary" role="button" href="/recipe/@recipe.Key">@recipe.Value.Name</a>
            }
        }
    }
</div>

@code {
    readonly List<Guid> _ingredientFilter = new();

    private string SearchFilter
    {
        get => _searchFilter ?? "";
        set
        {
            _searchFilter = value;
            RefreshNav();
        }
    }
    
    private string _searchFilter = "";
    
    protected override async Task OnInitializedAsync()
    {
        DBs.RemoveUnusedIngredients();
        Uri uri = Nav.ToAbsoluteUri(Nav.Uri);
        Dictionary<string, StringValues> query = QueryHelpers.ParseQuery(uri.Query);
        if (query.TryGetValue(Program.IngredientsQueryKey, out StringValues values))
        {
            foreach (string s in values.ToString().Split(Program.QueryItemSeparator))
            {
                if (Guid.TryParse(s, out Guid g))
                    _ingredientFilter.Add(g);
                else
                    Console.WriteLine("Could not pare Guid: " + s);
            }
        }
        if (query.TryGetValue(Program.SearchQueryKey, out values))
        {
            _searchFilter = values.ToString();
        }
    }

    void Toggle(Guid ingredient, bool value)
    {
        if (_ingredientFilter.Contains(ingredient) != value)
        {
            if (value)
                _ingredientFilter.Add(ingredient);
            else
                _ingredientFilter.Remove(ingredient);
            RefreshNav();
        }
    }

    void RefreshNav()
    {
        Dictionary<string, string> query = new();
        if (_ingredientFilter.Any())
            query.Add(Program.IngredientsQueryKey, string.Join(Program.QueryItemSeparator, _ingredientFilter.Select(s => s.ToString())));
        if (!string.IsNullOrWhiteSpace(_searchFilter))
            query.Add(Program.SearchQueryKey, _searchFilter);
        Nav.NavigateTo(QueryHelpers.AddQueryString("/", query));
    }
}