@page "/new"
@page "/recipe/{id:guid}/edit"
@using Rezi.Data
@using Rezi.Services
@inject IJSRuntime _js;

<button class="btn btn-primary" @onclick="ToHome">Zurück</button>
@if (!_import)
{
    <button class="btn btn-secondary" @onclick="() => _import = true">Import</button>
    <button type="button" class="btn btn-success" @onclick=Create>Speichern</button>
}
<div style="text-align: center;" >
    @if (_import)
    {
        <h3>Rezept importieren</h3>
        <button type="button" class="btn btn-success" @onclick=Import>OK</button>
        <textarea class="form-control handletab" style="width: 100%; height: calc(100% - 130px); position: fixed;" placeholder="Import" @bind=_importText @onfocus=LoadHandleTab></textarea>
    }
    else
    {
        <h3>Neues Rezept</h3>
        <label for="recipeName">Name</label>
        <input type="text" class="form-control" id="recipeName" placeholder="Neues Rezept" @bind=Recipe.Name>
        <label>Zutaten</label>
        <ul class="list-group">
            @foreach (Recipe.RecipeIngredient i in Recipe.Ingredients)
            {
                <li class="list-group-item">
                    <IngredientView Ingredient="@DBs.Ingredients[i.Id]" IngredientMeta="@i"></IngredientView>
                    <button type="button" class="badge badge-danger" @onclick="() => Recipe.Ingredients.Remove(i)">X</button>
                </li>
            }
            <input type="text" class="form-control" placeholder="Menge" @bind=IngredientAmount>
            <input type="text" class="form-control" placeholder="Neue Zutat" @bind=IngredientCurrent>
            <input type="text" class="form-control" placeholder="Notitz" @bind=IngredientNote>
            <button type="button" class="btn btn-success" @onclick="() => AddIngredient(IngredientCurrent, IngredientAmount, IngredientNote)">+</button>
        </ul>

        <label>Schritte</label>
        <ul class="list-group">
            @for (int i = 0; i < Recipe.Steps.Count; i++)
            {
                int w = i;
                string id = "recipeStep" + i;
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-xs-6">
                            <textarea class="form-control" placeholder="Schritt @(i + 1)" id="@id" @bind=Recipe.Steps[w]></textarea>
                            <label for="@id">Schritt @(i + 1)</label>
                        </div>
                        <div class="col-xs-6">
                            <Markdown Content="@Recipe.Steps[w]"></Markdown>
                        </div>
                    </div>
                    <button type="button" class="badge badge-danger" @onclick="() => Recipe.Steps.RemoveAt(w)">X</button>
                </li>
            }
            <button type="button" class="btn btn-success" @onclick="() => Recipe.Steps.Add(new string(' ', 0))">+</button>
        </ul>
    }
</div>

@code {
    [Parameter]
    public Guid? Id { get; set; }
    
    bool _import = false;
    const string ImportTextDefault = "Titel\nZutaten:\nMenge\tName\nMenge\tName2\tNotiz\n\nAnleitung";
    string _importText = ImportTextDefault;
    public Recipe Recipe;
    private string IngredientCurrent { get; set; }
    private string IngredientAmount { get; set; }
    private string IngredientNote { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        if (Id is null)
        {
            Recipe = new Recipe()
            {
                Ingredients = new List<Recipe.RecipeIngredient>(),
                Name = "",
                Steps = new List<string>()
            };
        }
        else
        {
            Recipe = DBs.Recipes[Id.Value];
        }
    }


    void ToHome()
    {
        DBs.RemoveUnusedIngredients();
        Nav.NavigateTo("/");
    }

    void AddIngredient(string name, string amount, string note)
    {
        DBs.Ingredients.Mutate(ingredients =>
        {
            foreach (KeyValuePair<Guid, Ingredient> kvp in ingredients)
            {
                if (kvp.Value.Name == name)
                {
                    if (Recipe.Ingredients.Any(s => s.Id == kvp.Key && s.Note == note))
                    {
                        Recipe.RecipeIngredient ri = Recipe.Ingredients.First(s => s.Id == kvp.Key);
                        ri.Amount = amount;
                    }
                    else
                    {
                        Recipe.Ingredients.Add(new Recipe.RecipeIngredient
                        {
                            Amount = amount,
                            Id = kvp.Key,
                            Note = note
                        });
                    }
                    return ingredients;
                }
            }
            Guid id = Guid.NewGuid();
            ingredients.Add(id, new Ingredient
            {
                Name = name
            });
            Recipe.Ingredients.Add(new Recipe.RecipeIngredient
            {
                Amount = amount,
                Id = id,
                Note = note
            });
            return ingredients;
        });
        IngredientCurrent = "";
        IngredientAmount = "";
        IngredientNote = "";
    }

    void Create()
    {
        if (Id is not null)
            DBs.Recipes[Id.Value] = Recipe;
        else
            DBs.Recipes.Add(Guid.NewGuid(), Recipe);
        ToHome();
    }

    void Import()
    {
        _import = false;
        string[] ses = _importText.Split('\n');
        int state = 0;
        for (int i = 0; i < ses.Length; i++)
        {
            string s = ses[i];
            switch (state)
            {
                case 0:
                    if (i == 0)
                        Recipe.Name = s;
                    state = 1;
                    break;
                case 1:
                    if (!string.IsNullOrWhiteSpace(s) && !s.StartsWith("Zutaten"))
                    {
                        if (s.Contains('\t'))
                        {
                            string[] split = s.Split('\t');
                            AddIngredient(split[1], split[0], split.Length > 2 ? split[2] : "");
                        }
                        else
                        {
                            state = 2;
                            i--;
                        }
                    }
                    break;
                case 2:
                    if (!string.IsNullOrWhiteSpace(s))
                    {
                        Recipe.Steps.Add(s);
                    }
                    break;
            }
        }
        _importText = ImportTextDefault;
    }

    void LoadHandleTab() => _js.InvokeVoidAsync("loadHandletab");
}