@page "/recipe/{id:guid}"
@using Rezi.Data
@using Rezi.Services
@using Microsoft.AspNetCore.WebUtilities

<button class="btn btn-primary" @onclick="() => Nav.NavigateTo('/'.ToString())">Zurück</button>
<a role="button" class="btn btn-primary" href="/recipe/@Id/edit">Editieren</a>
<button type="button" class="btn btn-danger" @onclick=Delete>Entfernen</button>
<div style="text-align: center;">
    <h1 class="display-4">@Recipe.Name</h1>
    <h2>Zutaten:</h2>
    <div class="list-group">
        @foreach (KeyValuePair<Recipe.RecipeIngredient, Ingredient> w in Ingredients)
        {
            <a href="@GetUrl(w.Key.Id)" class="list-group-item list-group-item-action">
                <IngredientView Ingredient="@w.Value" IngredientMeta="@w.Key"></IngredientView>
            </a>
        }
    </div>
    <h2>Zubereitung:</h2>
    <ol class="list-group list-group-numbered">
        @if (Recipe.Steps is not null)
        {
            @foreach (string s in Recipe.Steps)
            {
                <li class="list-group-item">
                    <Markdown Content="@s"></Markdown>
                </li>
            }
        }
    </ol>
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }

    private Recipe Recipe { get; set; } = new()
    {
        Ingredients = new List<Recipe.RecipeIngredient>(),
        Name = "",
        Steps = new List<string>()
    };

    private Dictionary<Recipe.RecipeIngredient, Ingredient> Ingredients { get; } = new();
    
    protected override async Task OnInitializedAsync()
    {
        try
        {
            Recipe = DBs.Recipes[Id];
            if (Recipe.Ingredients is not null)
            {
                foreach (Recipe.RecipeIngredient ingredient in Recipe.Ingredients)
                    if (DBs.Ingredients.ContainsKey(ingredient.Id))
                        Ingredients.Add(ingredient, DBs.Ingredients[ingredient.Id]);
                    else
                        Console.WriteLine("Invalid ingredient (" + ingredient.Id + ") in recipe " + Id);
            }
        }
        catch (Exception e)
        {
            Nav.NavigateTo("/");
        }
    }

    private async Task Delete()
    {
        DBs.Recipes.Remove(Id);
        DBs.RemoveUnusedIngredients();
        Nav.NavigateTo("/");
    }

    private string GetUrl(Guid ingredient)
    {
        Dictionary<string, string> query = new() {{Program.IngredientsQueryKey, ingredient.ToString()}};
        return QueryHelpers.AddQueryString("/", query);
    }
}